@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
}

.bg-text-ddi {
  background: linear-gradient(
    270deg,
    #ff3c6a -13.53%,
    #ffaf36 54.06%,
    #5200ff 116.45%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  box-sizing: border-box;
}

.padding-style {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 585px;
}

@media (max-width: 750px) {
  body {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 1050px) {
  body {
    padding-left: 110px;
    padding-right: 110px;
  }
}
